.carousel-home {
  .ant-carousel {
    .slick-next {
      &::before {
        content: "";
      }
    }
    .slick-prev {
      &::before {
        content: "";
      }
    }
  }
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    z-index: 4;
  }
  .ant-carousel .slick-prev {
    left: 12px;
  }
  .ant-carousel .slick-next {
    right: 12px;
  }
  .ant-carousel .slick-dots {
    margin-right: 0;
    margin-left: 0;
  }
}
